.navbar {
  margin-bottom: 0;
  background-color: #1b2a3b;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
 .navbar_nav{
    background-color: #1b2a3b;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;   
 }

 .a{
     color: white;
     text-decoration: none;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
 }